In [1]:
import pandas
URL = 'train.xlsx'
df_Demo = pandas.read_excel(URL,sheetname=0)
df_cd = pandas.read_excel(URL,sheetname=1)
df_reld = pandas.read_excel(URL,sheetname=2)
df_defd = pandas.read_excel(URL,sheetname=3)
df_usep = pandas.read_excel(URL,sheetname=4)

In [4]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')


df_dd = df_Demo[:]
df_dd['Churn Date'].fillna(0, inplace=True)
X = df_dd['Churn Date'].values != 0
X = X +[0]
df_dd['Categ'] = X


query = []
from collections import Counter
Dict = Counter(df_cd['Account Number'].values)
for i in df_dd['Account Number'].values:
    query.append(Dict[i])
df_dd['Query_freq'] = query


mon = []
for i in range(len(df_reld['Realization Date'].values)):
        mon.append(pd.Timestamp(df_reld['Realization Date'].values[i].astype(object)).to_pydatetime().month)
df_reld['mon'] = mon
x = df_reld.groupby('Account Number')['mon'].apply(list)
Realization_monnos = []
for i in df_dd['Account Number'].values:
    if i in df_reld['Account Number'].values:
        Realization_monnos.append(len(np.unique(x[i])))
    else:
        Realization_monnos.append('None')
df_dd['Realization_monnos'] = Realization_monnos



Default_number = []
from collections import Counter
Dict = Counter(df_defd['Account Number'].values)
for i in df_dd['Account Number'].values:
    Default_number.append(Dict[i])
df_dd['Default_number'] = Default_number



Commence_year = []
Commence_month = []
Commence_day = []
for i in range(len(df_dd)):
    if str(df_dd['Commence Date'].values[i]) == 'NaT':
                            Commence_year.append(np.nan)
                            Commence_month.append(np.nan)
                            Commence_day.append(np.nan)
    else:

                            Commence_year.append(pd.Timestamp(df_dd['Commence Date'].values[i].astype(object)).to_pydatetime().year)
                            Commence_month.append(pd.Timestamp(df_dd['Commence Date'].values[i].astype(object)).to_pydatetime().month)
                            Commence_day.append(pd.Timestamp(df_dd['Commence Date'].values[i].astype(object)).to_pydatetime().day)
                            
                        
df_dd['Commence_year'] = Commence_year
df_dd['Commence_month'] = Commence_month
df_dd['Commence_day'] = Commence_day



Commence_year = []
Commence_month = []
Commence_day = []
for i in range(len(df_dd)):
    if str(df_dd['Equipment Warranty Expiry Date'].values[i]) == 'NaT':
                            Commence_year.append(np.nan)
                            Commence_month.append(np.nan)
                            Commence_day.append(np.nan)
    else:

                            Commence_year.append(pd.Timestamp(df_dd['Commence Date'].values[i].astype(object)).to_pydatetime().year)
                            Commence_month.append(pd.Timestamp(df_dd['Commence Date'].values[i].astype(object)).to_pydatetime().month)
                            Commence_day.append(pd.Timestamp(df_dd['Commence Date'].values[i].astype(object)).to_pydatetime().day)
                            
                        
df_dd['Warrenty_year'] = Commence_year
df_dd['Warrenty_month'] = Commence_month
df_dd['Warrenty_day'] = Commence_day

DICT_1 = df_reld.set_index('Account Number').T.to_dict('list')
Cardtype = []
schemecost = []
for i in df_dd['Account Number'].values:
    if i in df_reld['Account Number'].values:
        Cardtype.append(DICT_1[i][2])
        schemecost.append(DICT_1[i][1])
    else:
        Cardtype.append('None')
        schemecost.append('None')        
df_dd['Cardtype'] = Cardtype
df_dd['schemecost'] = schemecost

DICT_2 = df_defd.set_index('Account Number').T.to_dict('list')
Cardtype = []
schemecost = []
for i in df_dd['Account Number'].values:
    if i in df_defd['Account Number'].values:
        Cardtype.append(DICT_2[i][0])
        schemecost.append(DICT_2[i][1])
    else:
        Cardtype.append('None')
        schemecost.append('None')        
df_dd['Closetdefaultdate'] = Cardtype
df_dd['defaultsum'] = schemecost

x = df_usep.groupby(['Account Number '], as_index=False).sum()
DICT_3 = x.set_index('Account Number ').T.to_dict('list')
Cardtype = []
schemecost = []
daraGB = []
YYYYMM = []

for i in df_dd['Account Number'].values:
    if i in df_usep['Account Number '].values:
        Cardtype.append(DICT_3[i][0])
        schemecost.append(DICT_3[i][1])
        daraGB.append(DICT_3[i][2])
        YYYYMM.append(DICT_3[i][3])
    else:
        Cardtype.append('None')
        schemecost.append('None')
        daraGB.append('None')        
        YYYYMM.append('None')        
df_dd['Hours'] = Cardtype
df_dd['Posthours'] = schemecost
df_dd['daraGB'] = daraGB
df_dd['YYYYMM'] = YYYYMM

In [17]:
df_anal = pd.read_csv('Use.csv')

In [26]:
Counter(df_anal['Region '].values)

Counter({'Eastern': 221, 'Northern': 230, 'Southern': 13, 'Western': 42})

In [47]:
Counter(df_dd['Staus'].values)

Counter({u'Closed': 368, u'Open': 9598})

In [48]:
x = df_dd[['Staus','Scheme']].groupby(['Staus'], as_index=False).sum()

In [49]:
x

    Staus                                             Scheme
0  Closed  PPLPWRCHCKLAPRMCHCPMMPWPPWRMXXPWRPWRPWRKLAPOPP...
1    Open  KLAPPLKLAMXXPRPKLAKLAPWMPWRPWMKLAPOPPRPPOPPWRP...

In [54]:
x = df_dd[['Staus','Categ','Scheme']].groupby('Scheme')['Staus'].apply(list)

In [56]:
Counter(x['CHC'])

Counter({u'Closed': 47, u'Open': 727})

In [87]:
df_dd

,Account Number,Commence Date,Address,Scheme,Staus,Gender,Region,Sale of Equipment Status,Age,Equipment Warranty,Salary Slab,Professional Info,Age of Home,Equipment Warranty Expiry Date,Churn Date,Categ,Query_freq,Realization_monnos,Default_number
0,M1,2011-11-04,VALID,KLA,Open,Female,Northern,RENTED,70,Three Full Years,5,0,17,2015-04-03,0,0,0,3,0
1,M2,2011-11-28,VALID,PPL,Open,Female,Western,RENTED,55,Three Full Years,7,0,22,2015-04-03,0,0,6,3,0
2,M3,2011-12-06,VALID,KLA,Open,Male,Eastern,RENTED,64,Three Full Years,1,5,17,2016-04-03,0,0,0,3,0
3,M4,2011-10-28,VALID,MXX,Open,Female,Northern,RENTED,66,Three Full Years,6,14,22,2015-04-03,0,0,0,3,0
4,M5,2015-01-18,VALID,PRP,Open,NaN,Western,RENTED,NaN,Full Year,NaN,NaN,NaN,2016-01-03,0,0,1,3,0
5,M6,2013-09-05,VALID,KLA,Open,NaN,Eastern,BOUGHT,NaN,Three Full Years,NaN,NaN,NaN,2015-09-03,0,0,0,2,0
6,M7,2012-07-05,VALID,KLA,Open,NaN,Eastern,BOUGHT,NaN,Three Full Years,NaN,NaN,NaN,2015-04-03,0,0,0,3,0
7,M8,2011-12-01,VALID,PWM,Open,Female,Eastern,RENTED,49,Three Full Years,10,5,21,2015-03-20,0,0,0,3,0
8,M9,2011-10-13,VALID,PWR,Open,Female,Eastern,RENTED,63,Three Full Years,6,5,17,2015-03-09,0,0,0,3,0
9,M10,2011-11-17,VALID,PWM,Open,Male,Western,RENTED,79,Three Full Years,5,14,17,2015-03-11,0,0,0,3,0
10,M11,2011-11-01,VALID,KLA,Open,Male,Northern,RENTED,44,Three Full Years,4,0,21,2015-03-23,0,0,0,3,0
11,M12,2012-08-01,VALID,POP,Open,Female,Northern,RENTED,63,Three Full Years,7,5,22,2015-04-03,0,0,0,3,0
12,M13,2013-12-17,VALID,PRP,Open,Male,Eastern,RENTED,60,Three Full Years,7,6,22,2016-04-03,0,0,4,3,0
13,M14,2011-10-05,VALID,POP,Open,Male,Northern,RENTED,46,Three Full Years,9,0,22,2015-04-03,0,0,0,3,0
14,M15,2012-06-08,VALID,PWR,Open,Female,Eastern,BOUGHT,60,Three Full Years,7,10,22,2015-03-16,0,0,3,3,0
15,M16,2011-11-22,VALID,POP,Open,Male,Northern,RENTED,64,Three Full Years,7,18,17,2015-03-06,0,0,0,3,0
16,M17,2011-12-12,VALID,KLA,Open,Male,Eastern,RENTED,38,Three Full Years,6,5,17,2015-03-12,0,0,4,3,0
17,M18,2012-04-19,VALID,PWR,Open,Male,Eastern,RENTED,72,Three Full Years,4,0,22,2015-03-12,0,0,2,3,0
18,M19,2011-10-20,VALID,PWR,Open,Male,Northern,RENTED,59,Three Full Years,3,8,22,2015-03-13,0,0,0,3,0
19,M20,2013-01-17,VALID,PWR,Open,Male,Western,RENTED,45,NaN,3,0,4,NaT,0,0,0,3,0
20,M21,2012-12-01,VALID,PWR,Open,Male,Southern,BOUGHT,52,NaN,7,0,21,NaT,0,0,0,3,0
21,M22,2012-07-03,VALID,PRR,Open,Male,Western,BOUGHT,61,Three Full Years,6,0,22,2015-03-24,0,0,1,2,0
22,M23,2011-10-26,VALID,PWR,Open,Female,Eastern,RENTED,68,Three Full Years,4,14,21,2015-03-25,0,0,0,3,0
23,M24,2012-06-09,VALID,PWM,Open,Male,Eastern,BOUGHT,48,Three Full Years,9,6,21,2015-03-17,0,0,0,3,0
24,M25,2011-10-11,VALID,MXX,Open,Male,Western,RENTED,60,Three Full Years,7,5,22,2015-03-19,0,0,1,3,0
25,M26,2013-08-02,VALID,CNN,Open,NaN,Northern,BOUGHT,NaN,Full Year Plus 3 Months,NaN,NaN,NaN,2015-03-08,0,0,0,3,0
26,M27,2012-02-11,VALID,PWP,Open,Female,Western,RENTED,41,Three Full Years,8,0,21,2015-03-07,0,0,1,3,0
27,M28,NaT,NaN,CHC,Open,Female,Northern,Unknown,54,NaN,7,8,17,NaT,0,0,0,None,0
28,M29,NaT,NaN,CHC,Open,Male,Northern,Unknown,46,NaN,5,0,22,NaT,0,0,0,None,0
29,M30,2014-08-26,NaN,CHC,Open,NaN,Northern,Second Hand,NaN,NaN,NaN,NaN,NaN,NaT,0,0,0,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9936,M9971,2013-06-27,VALID,PWR,Open,Female,Eastern,RENTED,51,Three Full Years,8,5,22,2015-06-04,0,0,1,3,0
9937,M9972,2011-10-06,VALID,MXX,Open,Female,Eastern,RENTED,62,Three Full Years,6,5,17,2016-03-28,0,0,1,2,2
9938,M9973,2011-11-03,VALID,PWM,Open,NaN,Eastern,RENTED,NaN,Three Full Years,NaN,NaN,NaN,2015-03-29,0,0,0,3,0
9939,M9974,2012-05-30,VALID,PWR,Open,Female,Eastern,BOUGHT,63,Three Full Years,5,14,21,2015-04-03,0,0,0,3,0
9940,M9975,2012-07-25,VALID,PWR,Open,Female,Eastern,BOUGHT,50,Three Full Years,7,0,17,2015-03-28,0,0,0,3,0
9941,M9976,2015-03-15,VALID,PPL,Open,Male,Western,RENTED,49,Three Full Years,8,10,22,2017-03-14,0,0,1,3,0
9942,M9977,2011-12-12,VALID,PWP,Open,Female,Western,RENTED,58,Three Full Years,9,5,21,2015-03-24,2015-05-26 00:00:00,1,0,3,0
9943,M9978,2012-07-17,VALID,KLA,Open,NaN,Western,RENTED,NaN,Three Full Years,NaN,NaN,NaN,2015-04-04,0,0,0,3,1
9944,M9979,2012-07-04,VALID,PWR,Open,Female,Western,RENTED,59,Three Full Years,9,0,12,2015-04-01,0,0,0,2,0
9945,M9980,2013-08-15,VALID,PWR,Open,Male,Northern,BOUGHT,50,Full Year Plus 3 Months,4,9,22,2015-06-29,0,0,0,3,0
9946,M9981,2012-03-22,VALID,PRR,Open,Female,Eastern,RENTED,30,Three Full Years,5,0,7,2015-03-12,0,0,0,3,0
9947,M9982,2011-10-24,VALID,PWM,Open,Male,Northern,RENTED,NaN,Three Full Years,3,0,4,2015-03-18,0,0,1,3,0
9948,M9983,2013-12-17,VALID,KLA,Open,Male,Western,BOUGHT,65,Full Year,9,5,21,2015-03-27,0,0,1,3,0
9949,M9984,2012-09-21,VALID,PWR,Closed,Female,Western,RENTED,61,NaN,6,0,7,NaT,0,0,0,1,0
9950,M9985,2012-02-08,VALID,PWR,Open,Male,Northern,BOUGHT,75,Three Full Years,6,14,12,2015-03-24,0,0,2,3,0
9951,M9986,2013-12-06,VALID,POP,Open,Male,Eastern,RENTED,62,Three Full Years,3,6,22,2016-03-28,0,0,0,3,0
9952,M9987,2012-02-07,VALID,CNN,Open,Male,Eastern,BOUGHT,NaN,Three Full Years,3,0,7,2015-03-13,0,0,0,3,0
9953,M9988,2012-08-18,VALID,PWR,Open,Female,Northern,RENTED,59,Three Full Years,5,5,21,2015-04-03,0,0,0,3,0
9954,M9989,2012-06-25,VALID,PWR,Closed,Male,Northern,BOUGHT,30,NaN,3,0,7,NaT,0,0,0,None,0
9955,M9990,2012-07-12,VALID,PWR,Open,Female,Eastern,BOUGHT,55,Three Full Years,6,0,22,2015-03-24,0,0,0,3,0
9956,M9991,2013-12-04,VALID,PRM,Open,Male,Northern,RENTED,58,Full Year Plus 3 Months,6,20,21,2015-07-04,0,0,0,3,0
9957,M9992,2012-12-05,VALID,PWR,Open,Male,Northern,RENTED,50,Three Full Years,10,8,22,2015-04-03,0,0,0,3,0
9958,M9993,2012-01-06,VALID,PWR,Open,Male,Northern,RENTED,67,Three Full Years,4,5,17,2015-03-22,0,0,0,3,0
9959,M9994,2011-10-16,VALID,PWM,Open,Female,Eastern,RENTED,59,Three Full Years,8,5,17,2015-03-14,0,0,0,3,0
9960,M9995,2011-10-06,VALID,PWP,Open,Male,Eastern,RENTED,45,Three Full Years,9,5,22,2015-03-19,0,0,0,3,0
9961,M9996,2013-11-20,VALID,PWR,Open,Male,Northern,BOUGHT,65,Three Full Years,7,14,21,2016-04-05,0,0,1,3,2
9962,M9997,2011-10-08,VALID,PWP,Open,Male,Eastern,RENTED,44,Three Full Years,4,0,22,2015-03-18,0,0,0,3,0
9963,M9998,2013-08-27,VALID,PWR,Open,NaN,Western,BOUGHT,NaN,Three Full Years,NaN,NaN,NaN,2015-08-21,0,0,1,3,0
9964,M9999,2012-07-06,VALID,KLA,Open,Female,Western,BOUGHT,69,Three Full Years,6,5,22,2015-03-14,0,0,0,3,0
9965,M10000,2012-03-21,VALID,PRR,Open,Female,Northern,RENTED,63,Three Full Years,8,13,22,2015-04-03,0,0,0,3,0

In [51]:

mon = []
for i in range(len(df_reld['Realization Date'].values)):
        mon.append(pd.Timestamp(df_reld['Realization Date'].values[i].astype(object)).to_pydatetime().month)
df_reld['mon'] = mon
x = df_reld.groupby('Account Number')['mon'].apply(list)
Realization_monnos = []
for i in df_dd['Account Number'].values:
    if i in df_reld['Account Number'].values:
        Realization_monnos.append(len(np.unique(x[i])))
    else:
        Realization_monnos.append('None')
df_dd['Realization_monnos'] = Realization_monnos

In [82]:
df_dd

,Account Number,Commence Date,Address,Scheme,Staus,Gender,Region,Sale of Equipment Status,Age,Equipment Warranty,...,Warrenty_day,Cardtype,schemecost,Closetdefaultdate,defaultsum,Hours,Posthours,daraGB,YYYYMM,Realization_monnos
0,M1,2011-11-04,VALID,KLA,Open,Female,Northern,RENTED,70,Three Full Years,...,28,Card II TYPE,1209.81,None,None,2015,0,263.25,604506,3
1,M2,2011-11-28,VALID,PPL,Open,Female,Western,RENTED,55,Three Full Years,...,28,Card II TYPE,751.695,None,None,1844.29,5,272.8,604506,3
2,M3,2011-12-06,VALID,KLA,Open,Male,Eastern,RENTED,64,Three Full Years,...,28,Card II TYPE,1064.38,None,None,2012.82,0,194.85,604506,3
3,M4,2011-10-28,VALID,MXX,Open,Female,Northern,RENTED,66,Three Full Years,...,28,Card II TYPE,963.375,None,None,2010.53,0,172,604506,3
4,M5,2015-01-18,VALID,PRP,Open,NaN,Western,RENTED,NaN,Full Year,...,28,Card II TYPE,839.895,None,None,1293.18,0,17.6,604506,3
5,M6,2013-09-05,VALID,KLA,Open,NaN,Eastern,BOUGHT,NaN,Three Full Years,...,28,Paper based/Post,1077.72,None,None,2182.69,36,404.55,604506,2
6,M7,2012-07-05,VALID,KLA,Open,NaN,Eastern,BOUGHT,NaN,Three Full Years,...,28,Card I TYPE,839.895,None,None,1029.58,0,262.1,604506,3
7,M8,2011-12-01,VALID,PWM,Open,Female,Eastern,RENTED,49,Three Full Years,...,28,Card I TYPE,1168.96,None,None,2147.63,0,435.05,604506,3
8,M9,2011-10-13,VALID,PWR,Open,Female,Eastern,RENTED,63,Three Full Years,...,28,Card II TYPE,643.965,None,None,2142.04,0,231.4,604506,3
9,M10,2011-11-17,VALID,PWM,Open,Male,Western,RENTED,79,Three Full Years,...,28,Card II TYPE,1171.7,None,None,1814.4,0,101.85,604506,3
10,M11,2011-11-01,VALID,KLA,Open,Male,Northern,RENTED,44,Three Full Years,...,28,Card II TYPE,1489.42,None,None,1937.32,911,1318.25,604506,3
11,M12,2012-08-01,VALID,POP,Open,Female,Northern,RENTED,63,Three Full Years,...,28,Card II TYPE,963.06,None,None,2030.42,0,296.9,604506,3
12,M13,2013-12-17,VALID,PRP,Open,Male,Eastern,RENTED,60,Three Full Years,...,28,Card II TYPE,953.19,None,None,2182.65,198,412.85,604506,3
13,M14,2011-10-05,VALID,POP,Open,Male,Northern,RENTED,46,Three Full Years,...,28,Card II TYPE,963.585,None,None,2173.06,0,223.7,604506,3
14,M15,2012-06-08,VALID,PWR,Open,Female,Eastern,BOUGHT,60,Three Full Years,...,28,Paper based/Post,682.395,None,None,1787.14,0,45.2,604506,3
15,M16,2011-11-22,VALID,POP,Open,Male,Northern,RENTED,64,Three Full Years,...,28,Card I TYPE,951.3,None,None,1934.03,0,418.4,604506,3
16,M17,2011-12-12,VALID,KLA,Open,Male,Eastern,RENTED,38,Three Full Years,...,28,Card II TYPE,1022.17,None,None,1998.32,212,1008.45,604506,3
17,M18,2012-04-19,VALID,PWR,Open,Male,Eastern,RENTED,72,Three Full Years,...,28,Card II TYPE,645.225,None,None,2148.21,6,222.5,604506,3
18,M19,2011-10-20,VALID,PWR,Open,Male,Northern,RENTED,59,Three Full Years,...,28,Card II TYPE,668.64,None,None,1785.93,0,109.2,604506,3
19,M20,2013-01-17,VALID,PWR,Open,Male,Western,RENTED,45,NaN,...,28,Card II TYPE,751.695,None,None,2059.84,0,91.35,604506,3
20,M21,2012-12-01,VALID,PWR,Open,Male,Southern,BOUGHT,52,NaN,...,28,Card II TYPE,629.895,None,None,2084.48,0,26.4,604506,3
21,M22,2012-07-03,VALID,PRR,Open,Male,Western,BOUGHT,61,Three Full Years,...,28,Card II TYPE,346.92,None,None,2179.39,423,633.55,604506,2
22,M23,2011-10-26,VALID,PWR,Open,Female,Eastern,RENTED,68,Three Full Years,...,28,Card I TYPE,682.29,None,None,1874.68,0,166.6,604506,3
23,M24,2012-06-09,VALID,PWM,Open,Male,Eastern,BOUGHT,48,Three Full Years,...,28,Card II TYPE,1049.89,None,None,2062.87,0,671.65,604506,3
24,M25,2011-10-11,VALID,MXX,Open,Male,Western,RENTED,60,Three Full Years,...,28,Card I TYPE,2347.7,None,None,2158.45,0,962.5,604506,3
25,M26,2013-08-02,VALID,CNN,Open,NaN,Northern,BOUGHT,NaN,Full Year Plus 3 Months,...,28,Card II TYPE,546.525,None,None,1586.39,0,7.45,604506,3
26,M27,2012-02-11,VALID,PWP,Open,Female,Western,RENTED,41,Three Full Years,...,28,Card II TYPE,742.665,None,None,2044.32,0,90.8,604506,3
27,M28,NaT,NaN,CHC,Open,Female,Northern,Unknown,54,NaN,...,28,None,None,None,None,None,None,None,None,None
28,M29,NaT,NaN,CHC,Open,Male,Northern,Unknown,46,NaN,...,28,None,None,None,None,None,None,None,None,None
29,M30,2014-08-26,NaN,CHC,Open,NaN,Northern,Second Hand,NaN,NaN,...,28,None,None,None,None,1817.7,0,248.15,604506,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9936,M9971,2013-06-27,VALID,PWR,Open,Female,Eastern,RENTED,51,Three Full Years,...,28,Card I TYPE,749.385,None,None,1904.88,0,92.35,604506,3
9937,M9972,2011-10-06,VALID,MXX,Open,Female,Eastern,RENTED,62,Three Full Years,...,28,Paper based/Post,3072.93,2015-03-11 00:00:00,1313.3,2145.37,848,624.35,604506,2
9938,M9973,2011-11-03,VALID,PWM,Open,NaN,Eastern,RENTED,NaN,Three Full Years,...,28,Card II TYPE,1169.38,None,None,2176.88,0,406.85,604506,3
9939,M9974,2012-05-30,VALID,PWR,Open,Female,Eastern,BOUGHT,63,Three Full Years,...,28,Card II TYPE,524.895,None,None,2184.24,0,67.7,604506,3
9940,M9975,2012-07-25,VALID,PWR,Open,Female,Eastern,BOUGHT,50,Three Full Years,...,28,Card II TYPE,629.895,None,None,2108.23,0,155.65,604506,3
9941,M9976,2015-03-15,VALID,PPL,Open,Male,Western,RENTED,49,Three Full Years,...,28,Card I TYPE,856.905,None,None,415.63,0,336.6,201503,3
9942,M9977,2011-12-12,VALID,PWP,Open,Female,Western,RENTED,58,Three Full Years,...,28,Card II TYPE,742.665,None,None,1926.93,0,246.65,604506,3
9943,M9978,2012-07-17,VALID,KLA,Open,NaN,Western,RENTED,NaN,Three Full Years,...,28,Card II TYPE,1139.98,2015-02-02 00:00:00,985.7,2016.53,0,357.4,604506,3
9944,M9979,2012-07-04,VALID,PWR,Open,Female,Western,RENTED,59,Three Full Years,...,28,Card II TYPE,742.665,None,None,1892.27,0,176.1,604506,2
9945,M9980,2013-08-15,VALID,PWR,Open,Male,Northern,BOUGHT,50,Full Year Plus 3 Months,...,28,Card II TYPE,629.895,None,None,1883.77,0,272.55,604506,3
9946,M9981,2012-03-22,VALID,PRR,Open,Female,Eastern,RENTED,30,Three Full Years,...,28,Card II TYPE,855.225,None,None,2072.87,969,907.4,604506,3
9947,M9982,2011-10-24,VALID,PWM,Open,Male,Northern,RENTED,NaN,Three Full Years,...,28,Card II TYPE,1342.32,None,None,1943.45,0,444.45,604506,3
9948,M9983,2013-12-17,VALID,KLA,Open,Male,Western,BOUGHT,65,Full Year,...,28,Card II TYPE,944.895,None,None,1958.15,0,333.5,604506,3
9949,M9984,2012-09-21,VALID,PWR,Closed,Female,Western,RENTED,61,NaN,...,28,Card II TYPE,60.585,None,None,None,None,None,None,1
9950,M9985,2012-02-08,VALID,PWR,Open,Male,Northern,BOUGHT,75,Three Full Years,...,28,Card I TYPE,524.895,None,None,2066.85,0,165.6,604506,3
9951,M9986,2013-12-06,VALID,POP,Open,Male,Eastern,RENTED,62,Three Full Years,...,28,Card II TYPE,960.54,None,None,2143.69,0,318.9,604506,3
9952,M9987,2012-02-07,VALID,CNN,Open,Male,Eastern,BOUGHT,NaN,Three Full Years,...,28,Card II TYPE,844.095,None,None,None,None,None,None,3
9953,M9988,2012-08-18,VALID,PWR,Open,Female,Northern,RENTED,59,Three Full Years,...,28,Paper based/Post,806.085,None,None,2063.03,0,175.6,604506,3
9954,M9989,2012-06-25,VALID,PWR,Closed,Male,Northern,BOUGHT,30,NaN,...,28,None,None,None,None,None,None,None,None,None
9955,M9990,2012-07-12,VALID,PWR,Open,Female,Eastern,BOUGHT,55,Three Full Years,...,28,Card II TYPE,629.895,None,None,2058.83,0,83.2,604506,3
9956,M9991,2013-12-04,VALID,PRM,Open,Male,Northern,RENTED,58,Full Year Plus 3 Months,...,28,Card II TYPE,752.325,None,None,1848,19,173.25,604506,3
9957,M9992,2012-12-05,VALID,PWR,Open,Male,Northern,RENTED,50,Three Full Years,...,28,Card II TYPE,779.835,None,None,1786.62,0,109.95,604506,3
9958,M9993,2012-01-06,VALID,PWR,Open,Male,Northern,RENTED,67,Three Full Years,...,28,Card II TYPE,648.69,None,None,1609.22,0,59.2,604506,3
9959,M9994,2011-10-16,VALID,PWM,Open,Female,Eastern,RENTED,59,Three Full Years,...,28,Card II TYPE,1168.23,None,None,2176.56,0,112,604506,3
9960,M9995,2011-10-06,VALID,PWP,Open,Male,Eastern,RENTED,45,Three Full Years,...,28,Card II TYPE,752.85,None,None,2140.88,22,370.7,604506,3
9961,M9996,2013-11-20,VALID,PWR,Open,Male,Northern,BOUGHT,65,Three Full Years,...,28,Card II TYPE,656.565,2015-03-03 00:00:00,525.3,1676.6,0,32.5,604506,3
9962,M9997,2011-10-08,VALID,PWP,Open,Male,Eastern,RENTED,44,Three Full Years,...,28,Card I TYPE,824.67,None,None,1777.95,0,46.35,604506,3
9963,M9998,2013-08-27,VALID,PWR,Open,NaN,Western,BOUGHT,NaN,Three Full Years,...,28,Card II TYPE,629.895,None,None,2165.23,0,220.35,604506,3
9964,M9999,2012-07-06,VALID,KLA,Open,Female,Western,BOUGHT,69,Three Full Years,...,28,Card II TYPE,949.935,None,None,2041.03,0,436.25,604506,3
9965,M10000,2012-03-21,VALID,PRR,Open,Female,Northern,RENTED,63,Three Full Years,...,28,Card II TYPE,904.575,None,None,2069.07,597,328.2,604506,3

In [79]:
DICT_1 = df_dd[['Categ','Account Number']].set_index('Account Number').T.to_dict()
packages = []
for i in list(set(np.unique(df_dd['Account Number'].values))-set(np.unique(df_reld['Account Number'].values))):
    packages.append(DICT_1[i]['Categ'])

In [80]:
Counter(packages)

Counter({0: 278, 1: 44})

In [75]:
import matplotlib.pyplot as plt

D =Counter(packages)

plt.bar(range(len(D)), D.values(), align='center')
plt.xticks(range(len(D)), D.keys())
plt.xlabel('schemes')      #Colour of title and lables 
plt.ylabel('Popul')
plt.show()

In [35]:
np.unique(Counter(df_reld['Account Number'].values).values())

array([1, 2, 3, 4, 5, 6, 7, 8])

      Account Number Realization Date       Sum             Mode   mon
0                 M1       2015-03-01  1209.810      Card II TYPE    3
1                 M1       2015-02-01  1209.810      Card II TYPE    2
2                 M1       2015-01-01  1209.810      Card II TYPE    1
3                 M2       2015-03-01   751.695      Card II TYPE    3
4                 M2       2015-02-01   751.695      Card II TYPE    2
5                 M2       2015-01-01   751.695      Card II TYPE    1
6                 M3       2015-03-01  1064.385      Card II TYPE    3
7                 M3       2015-02-01  1064.385      Card II TYPE    2
8                 M3       2015-01-01  1064.385      Card II TYPE    1
9                 M4       2015-03-01  1488.375      Card II TYPE    3
10                M4       2015-02-01  1674.750      Card II TYPE    2
11                M4       2015-01-01   963.375      Card II TYPE    1
12                M5       2015-03-01   856.695      Card II TYPE    3
13                M5       2015-02-01   919.590      Card II TYPE    2
14                M5       2015-01-01   839.895      Card II TYPE    1
15                M6       2015-03-08  1077.720  Paper based/Post    3
16                M6       2015-03-17  1077.720  Paper based/Post    3
17                M6       2015-01-22  1077.720  Paper based/Post    1
18                M7       2015-03-01   839.895       Card I TYPE    3
19                M7       2015-02-01   839.895       Card I TYPE    2
20                M7       2015-01-01   839.895       Card I TYPE    1
21                M8       2015-03-18  1168.965       Card I TYPE    3
22                M8       2015-02-18  1168.965       Card I TYPE    2
23                M8       2015-01-18  1168.965       Card I TYPE    1
24                M9       2015-03-07   643.965      Card II TYPE    3
25                M9       2015-02-07   643.965      Card II TYPE    2
26                M9       2015-01-07   643.965      Card II TYPE    1
27               M10       2015-03-09  1171.695      Card II TYPE    3
28               M10       2015-02-09  1171.695      Card II TYPE    2
29               M10       2015-01-09  1171.695      Card II TYPE    1
...              ...              ...       ...               ...  ...
27727          M9991       2015-03-02   752.325      Card II TYPE    3
27728          M9991       2015-02-02   752.325      Card II TYPE    2
27729          M9991       2015-01-02   752.325      Card II TYPE    1
27730          M9992       2015-03-01   779.835      Card II TYPE    3
27731          M9992       2015-02-01   779.835      Card II TYPE    2
27732          M9992       2015-01-01   779.835      Card II TYPE    1
27733          M9993       2015-03-20   648.690      Card II TYPE    3
27734          M9993       2015-02-20   648.690      Card II TYPE    2
27735          M9993       2015-01-20   648.690      Card II TYPE    1
27736          M9994       2015-03-12  1168.230      Card II TYPE    3
27737          M9994       2015-02-12  1168.230      Card II TYPE    2
27738          M9994       2015-01-12  1168.230      Card II TYPE    1
27739          M9995       2015-03-17   752.850      Card II TYPE    3
27740          M9995       2015-02-17   752.850      Card II TYPE    2
27741          M9995       2015-01-17   752.850      Card II TYPE    1
27742          M9996       2015-03-13   656.565      Card II TYPE    3
27743          M9996       2015-02-13   656.565      Card II TYPE    2
27744          M9996       2015-01-03   656.565      Card II TYPE    1
27745          M9997       2015-03-16   824.670       Card I TYPE    3
27746          M9997       2015-02-16   824.670       Card I TYPE    2
27747          M9997       2015-01-16   824.670       Card I TYPE    1
27748          M9998       2015-03-19   629.895      Card II TYPE    3
27749          M9998       2015-02-19   629.895      Card II TYPE    2
27750          M9998       2015-01-19   629.895      Card II TYPE    1
27751          M9999       2015-03-12   949.935      Card II TYPE    3
27752          M9999       2015-02-12   949.935      Card II TYPE    2
27753          M9999       2015-01-12   949.935      Card II TYPE    1
27754         M10000       2015-03-01  1009.575      Card II TYPE    3
27755         M10000       2015-02-01  1009.575      Card II TYPE    2
27756         M10000       2015-01-01   904.575      Card II TYPE    1

[27757 rows x 5 columns]

In [37]:
x = df_reld.groupby('Account Number')['mon'].apply(list)

In [31]:
import numpy as np
np.unique(list(x.values))

array([[1], [1, 1], [1, 1, 1], [2], [2, 1], [2, 1, 1], [2, 1, 1, 1],
       [2, 2], [2, 2, 1], [2, 2, 2, 1], [2, 2, 2, 1, 1], [2, 3], [2, 3, 1],
       [3], [3, 1], [3, 1, 1], [3, 1, 1, 1], [3, 2], [3, 2, 1],
       [3, 2, 1, 1], [3, 2, 1, 1, 1], [3, 2, 2], [3, 2, 2, 1],
       [3, 2, 2, 1, 1], [3, 2, 2, 1, 1, 1], [3, 2, 2, 1, 1, 1, 1, 1],
       [3, 2, 2, 2], [3, 2, 2, 2, 1], [3, 2, 2, 2, 1, 1],
       [3, 2, 2, 2, 1, 1, 1, 1], [3, 2, 3], [3, 2, 3, 1], [3, 3],
       [3, 3, 1], [3, 3, 1, 1], [3, 3, 2], [3, 3, 2, 1], [3, 3, 2, 1, 1],
       [3, 3, 2, 1, 1, 1], [3, 3, 2, 2], [3, 3, 2, 2, 1],
       [3, 3, 2, 2, 1, 1], [3, 3, 2, 2, 1, 1, 1], [3, 3, 2, 2, 2, 1],
       [3, 3, 3], [3, 3, 3, 1, 1], [3, 3, 3, 2, 1], [3, 3, 3, 2, 1, 1],
       [3, 3, 3, 2, 2, 2, 1], [3, 3, 3, 3, 1], [3, 3, 3, 3, 2, 1],
       [3, 3, 3, 3, 2, 1, 1], [3, 3, 3, 3, 2, 2, 1]], dtype=object)

In [39]:
x['M1']

[3, 2, 1]

In [302]:
x = df_usep.groupby(['Account Number '], as_index=False).sum()

In [315]:
DICT_3 = x.set_index('Account Number ').T.to_dict('list')
Cardtype = []
schemecost = []
daraGB = []
YYYYMM = []

for i in df_dd['Account Number'].values:
    if i in df_usep['Account Number '].values:
        Cardtype.append(DICT_3[i][0])
        schemecost.append(DICT_3[i][1])
        daraGB.append(DICT_3[i][2])
        YYYYMM.append(DICT_3[i][3])
    else:
        Cardtype.append('None')
        schemecost.append('None')
        daraGB.append('None')        
        YYYYMM.append('None')        
df_dd['Hours'] = Cardtype
df_dd['Posthours'] = schemecost
df_dd['daraGB'] = daraGB
df_dd['YYYYMM'] = YYYYMM

In [314]:
x

,Account Number,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,YYYYMM
0,M1,2015.00,0,263.25,604506
1,M10,1814.40,0,101.85,604506
2,M100,2082.43,0,523.75,604506
3,M1000,1237.47,0,1.45,604506
4,M10000,2069.07,597,328.20,604506
5,M1001,2157.00,0,196.90,604506
6,M1002,2108.81,1091,699.20,604506
7,M1003,2127.72,250,322.45,604506
8,M1004,1915.82,0,111.20,604506
9,M1005,2022.27,269,257.00,604506
10,M1006,1975.61,0,244.25,604506
11,M1007,712.95,0,0.00,403003
12,M1008,2178.41,0,233.85,604506
13,M1009,1642.56,0,124.40,604506
14,M101,1133.40,0,38.95,604506
15,M1010,2082.45,0,130.80,604506
16,M1011,2087.18,0,166.35,604506
17,M1012,2017.62,0,287.40,604506
18,M1013,1895.25,10,349.20,604506
19,M1014,2009.80,0,220.35,604506
20,M1015,2001.41,0,71.55,604506
21,M1016,2058.52,0,301.45,604506
22,M1017,2143.34,175,362.00,604506
23,M1018,1972.30,0,300.15,604506
24,M1019,2108.73,459,412.90,604506
25,M102,2179.03,0,181.20,604506
26,M1020,1757.13,0,55.50,604506
27,M1021,2090.12,893,615.30,604506
28,M1022,1944.22,213,407.60,604506
29,M1023,1807.66,0,147.30,604506
...,...,...,...,...,...
9639,M997,1764.40,0,11.75,604506
9640,M9970,1891.98,68,237.60,604506
9641,M9971,1904.88,0,92.35,604506
9642,M9972,2145.37,848,624.35,604506
9643,M9973,2176.88,0,406.85,604506
9644,M9974,2184.24,0,67.70,604506
9645,M9975,2108.23,0,155.65,604506
9646,M9976,415.63,0,336.60,201503
9647,M9977,1926.93,0,246.65,604506
9648,M9978,2016.53,0,357.40,604506
9649,M9979,1892.27,0,176.10,604506
9650,M998,2163.08,0,589.70,604506
9651,M9980,1883.77,0,272.55,604506
9652,M9981,2072.87,969,907.40,604506
9653,M9982,1943.45,0,444.45,604506
9654,M9983,1958.15,0,333.50,604506
9655,M9985,2066.85,0,165.60,604506
9656,M9986,2143.69,0,318.90,604506
9657,M9988,2063.03,0,175.60,604506
9658,M999,2089.10,0,11.65,604506
9659,M9990,2058.83,0,83.20,604506
9660,M9991,1848.00,19,173.25,604506
9661,M9992,1786.62,0,109.95,604506
9662,M9993,1609.22,0,59.20,604506
9663,M9994,2176.56,0,112.00,604506
9664,M9995,2140.88,22,370.70,604506
9665,M9996,1676.60,0,32.50,604506
9666,M9997,1777.95,0,46.35,604506
9667,M9998,2165.23,0,220.35,604506
9668,M9999,2041.03,0,436.25,604506

In [274]:
DICT_1 = df_reld.set_index('Account Number').T.to_dict('list')

C:\Users\Kowshik\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kowshik\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [291]:
DICT_2 = df_defd.set_index('Account Number').T.to_dict('list')
Cardtype = []
schemecost = []
for i in df_dd['Account Number'].values:
    if i in df_defd['Account Number'].values:
        Cardtype.append(DICT_2[i][0])
        schemecost.append(DICT_2[i][1])
    else:
        Cardtype.append('None')
        schemecost.append('None')        
df_dd['Closetdefaultdate'] = Cardtype
df_dd['defaultsum'] = schemecost

KeyError: 'M1'

In [265]:
Commence_year = []
Commence_month = []
Commence_day = []
for i in df_dd['Commence Date'].values:
        Commence_year.append(pd.Timestamp(df_dd['Commence Date'].values[1].astype(object)).to_pydatetime().year)
        Commence_month.append(pd.Timestamp(df_dd['Commence Date'].values[1].astype(object)).to_pydatetime().month)
        Commence_day.append(pd.Timestamp(df_dd['Commence Date'].values[1].astype(object)).to_pydatetime().day)
df_dd['Commence_year'] = Commence_year
df_dd['Commence_month'] = Commence_month
df_dd['Commence_day'] = Commence_day

C:\Users\Kowshik\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kowshik\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kowshik\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [268]:
df_dd['Equipment Warranty Expiry Date'].values

array(['2015-04-03T05:30:00.000000000+0530',
       '2015-04-03T05:30:00.000000000+0530',
       '2016-04-03T05:30:00.000000000+0530', ...,
       '2015-08-21T05:30:00.000000000+0530',
       '2015-03-14T05:30:00.000000000+0530',
       '2015-04-03T05:30:00.000000000+0530'], dtype='datetime64[ns]')

In [251]:
Default_number = []
from collections import Counter
Dict = Counter(df_defd['Account Number'].values)
for i in df_dd['Account Number'].values:
    Default_number.append(Dict[i])
df_dd['Default_number'] = Default_number

C:\Users\Kowshik\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [252]:
df_dd

,Account Number,Commence Date,Address,Scheme,Staus,Gender,Region,Sale of Equipment Status,Age,Equipment Warranty,Salary Slab,Professional Info,Age of Home,Equipment Warranty Expiry Date,Churn Date,Categ,Query_freq,payment_number,Default_number
0,M1,2011-11-04,VALID,KLA,Open,Female,Northern,RENTED,70,Three Full Years,5,0,17,2015-04-03,0,0,0,3,0
1,M2,2011-11-28,VALID,PPL,Open,Female,Western,RENTED,55,Three Full Years,7,0,22,2015-04-03,0,0,6,3,0
2,M3,2011-12-06,VALID,KLA,Open,Male,Eastern,RENTED,64,Three Full Years,1,5,17,2016-04-03,0,0,0,3,0
3,M4,2011-10-28,VALID,MXX,Open,Female,Northern,RENTED,66,Three Full Years,6,14,22,2015-04-03,0,0,0,3,0
4,M5,2015-01-18,VALID,PRP,Open,NaN,Western,RENTED,NaN,Full Year,NaN,NaN,NaN,2016-01-03,0,0,1,3,0
5,M6,2013-09-05,VALID,KLA,Open,NaN,Eastern,BOUGHT,NaN,Three Full Years,NaN,NaN,NaN,2015-09-03,0,0,0,3,0
6,M7,2012-07-05,VALID,KLA,Open,NaN,Eastern,BOUGHT,NaN,Three Full Years,NaN,NaN,NaN,2015-04-03,0,0,0,3,0
7,M8,2011-12-01,VALID,PWM,Open,Female,Eastern,RENTED,49,Three Full Years,10,5,21,2015-03-20,0,0,0,3,0
8,M9,2011-10-13,VALID,PWR,Open,Female,Eastern,RENTED,63,Three Full Years,6,5,17,2015-03-09,0,0,0,3,0
9,M10,2011-11-17,VALID,PWM,Open,Male,Western,RENTED,79,Three Full Years,5,14,17,2015-03-11,0,0,0,3,0
10,M11,2011-11-01,VALID,KLA,Open,Male,Northern,RENTED,44,Three Full Years,4,0,21,2015-03-23,0,0,0,3,0
11,M12,2012-08-01,VALID,POP,Open,Female,Northern,RENTED,63,Three Full Years,7,5,22,2015-04-03,0,0,0,3,0
12,M13,2013-12-17,VALID,PRP,Open,Male,Eastern,RENTED,60,Three Full Years,7,6,22,2016-04-03,0,0,4,3,0
13,M14,2011-10-05,VALID,POP,Open,Male,Northern,RENTED,46,Three Full Years,9,0,22,2015-04-03,0,0,0,3,0
14,M15,2012-06-08,VALID,PWR,Open,Female,Eastern,BOUGHT,60,Three Full Years,7,10,22,2015-03-16,0,0,3,3,0
15,M16,2011-11-22,VALID,POP,Open,Male,Northern,RENTED,64,Three Full Years,7,18,17,2015-03-06,0,0,0,3,0
16,M17,2011-12-12,VALID,KLA,Open,Male,Eastern,RENTED,38,Three Full Years,6,5,17,2015-03-12,0,0,4,3,0
17,M18,2012-04-19,VALID,PWR,Open,Male,Eastern,RENTED,72,Three Full Years,4,0,22,2015-03-12,0,0,2,3,0
18,M19,2011-10-20,VALID,PWR,Open,Male,Northern,RENTED,59,Three Full Years,3,8,22,2015-03-13,0,0,0,3,0
19,M20,2013-01-17,VALID,PWR,Open,Male,Western,RENTED,45,NaN,3,0,4,NaT,0,0,0,3,0
20,M21,2012-12-01,VALID,PWR,Open,Male,Southern,BOUGHT,52,NaN,7,0,21,NaT,0,0,0,3,0
21,M22,2012-07-03,VALID,PRR,Open,Male,Western,BOUGHT,61,Three Full Years,6,0,22,2015-03-24,0,0,1,2,0
22,M23,2011-10-26,VALID,PWR,Open,Female,Eastern,RENTED,68,Three Full Years,4,14,21,2015-03-25,0,0,0,3,0
23,M24,2012-06-09,VALID,PWM,Open,Male,Eastern,BOUGHT,48,Three Full Years,9,6,21,2015-03-17,0,0,0,3,0
24,M25,2011-10-11,VALID,MXX,Open,Male,Western,RENTED,60,Three Full Years,7,5,22,2015-03-19,0,0,1,3,0
25,M26,2013-08-02,VALID,CNN,Open,NaN,Northern,BOUGHT,NaN,Full Year Plus 3 Months,NaN,NaN,NaN,2015-03-08,0,0,0,3,0
26,M27,2012-02-11,VALID,PWP,Open,Female,Western,RENTED,41,Three Full Years,8,0,21,2015-03-07,0,0,1,3,0
27,M28,NaT,NaN,CHC,Open,Female,Northern,Unknown,54,NaN,7,8,17,NaT,0,0,0,0,0
28,M29,NaT,NaN,CHC,Open,Male,Northern,Unknown,46,NaN,5,0,22,NaT,0,0,0,0,0
29,M30,2014-08-26,NaN,CHC,Open,NaN,Northern,Second Hand,NaN,NaN,NaN,NaN,NaN,NaT,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9936,M9971,2013-06-27,VALID,PWR,Open,Female,Eastern,RENTED,51,Three Full Years,8,5,22,2015-06-04,0,0,1,3,0
9937,M9972,2011-10-06,VALID,MXX,Open,Female,Eastern,RENTED,62,Three Full Years,6,5,17,2016-03-28,0,0,1,2,2
9938,M9973,2011-11-03,VALID,PWM,Open,NaN,Eastern,RENTED,NaN,Three Full Years,NaN,NaN,NaN,2015-03-29,0,0,0,3,0
9939,M9974,2012-05-30,VALID,PWR,Open,Female,Eastern,BOUGHT,63,Three Full Years,5,14,21,2015-04-03,0,0,0,3,0
9940,M9975,2012-07-25,VALID,PWR,Open,Female,Eastern,BOUGHT,50,Three Full Years,7,0,17,2015-03-28,0,0,0,3,0
9941,M9976,2015-03-15,VALID,PPL,Open,Male,Western,RENTED,49,Three Full Years,8,10,22,2017-03-14,0,0,1,3,0
9942,M9977,2011-12-12,VALID,PWP,Open,Female,Western,RENTED,58,Three Full Years,9,5,21,2015-03-24,2015-05-26 00:00:00,1,0,3,0
9943,M9978,2012-07-17,VALID,KLA,Open,NaN,Western,RENTED,NaN,Three Full Years,NaN,NaN,NaN,2015-04-04,0,0,0,3,1
9944,M9979,2012-07-04,VALID,PWR,Open,Female,Western,RENTED,59,Three Full Years,9,0,12,2015-04-01,0,0,0,3,0
9945,M9980,2013-08-15,VALID,PWR,Open,Male,Northern,BOUGHT,50,Full Year Plus 3 Months,4,9,22,2015-06-29,0,0,0,3,0
9946,M9981,2012-03-22,VALID,PRR,Open,Female,Eastern,RENTED,30,Three Full Years,5,0,7,2015-03-12,0,0,0,3,0
9947,M9982,2011-10-24,VALID,PWM,Open,Male,Northern,RENTED,NaN,Three Full Years,3,0,4,2015-03-18,0,0,1,3,0
9948,M9983,2013-12-17,VALID,KLA,Open,Male,Western,BOUGHT,65,Full Year,9,5,21,2015-03-27,0,0,1,3,0
9949,M9984,2012-09-21,VALID,PWR,Closed,Female,Western,RENTED,61,NaN,6,0,7,NaT,0,0,0,1,0
9950,M9985,2012-02-08,VALID,PWR,Open,Male,Northern,BOUGHT,75,Three Full Years,6,14,12,2015-03-24,0,0,2,3,0
9951,M9986,2013-12-06,VALID,POP,Open,Male,Eastern,RENTED,62,Three Full Years,3,6,22,2016-03-28,0,0,0,3,0
9952,M9987,2012-02-07,VALID,CNN,Open,Male,Eastern,BOUGHT,NaN,Three Full Years,3,0,7,2015-03-13,0,0,0,3,0
9953,M9988,2012-08-18,VALID,PWR,Open,Female,Northern,RENTED,59,Three Full Years,5,5,21,2015-04-03,0,0,0,3,0
9954,M9989,2012-06-25,VALID,PWR,Closed,Male,Northern,BOUGHT,30,NaN,3,0,7,NaT,0,0,0,0,0
9955,M9990,2012-07-12,VALID,PWR,Open,Female,Eastern,BOUGHT,55,Three Full Years,6,0,22,2015-03-24,0,0,0,3,0
9956,M9991,2013-12-04,VALID,PRM,Open,Male,Northern,RENTED,58,Full Year Plus 3 Months,6,20,21,2015-07-04,0,0,0,3,0
9957,M9992,2012-12-05,VALID,PWR,Open,Male,Northern,RENTED,50,Three Full Years,10,8,22,2015-04-03,0,0,0,3,0
9958,M9993,2012-01-06,VALID,PWR,Open,Male,Northern,RENTED,67,Three Full Years,4,5,17,2015-03-22,0,0,0,3,0
9959,M9994,2011-10-16,VALID,PWM,Open,Female,Eastern,RENTED,59,Three Full Years,8,5,17,2015-03-14,0,0,0,3,0
9960,M9995,2011-10-06,VALID,PWP,Open,Male,Eastern,RENTED,45,Three Full Years,9,5,22,2015-03-19,0,0,0,3,0
9961,M9996,2013-11-20,VALID,PWR,Open,Male,Northern,BOUGHT,65,Three Full Years,7,14,21,2016-04-05,0,0,1,3,2
9962,M9997,2011-10-08,VALID,PWP,Open,Male,Eastern,RENTED,44,Three Full Years,4,0,22,2015-03-18,0,0,0,3,0
9963,M9998,2013-08-27,VALID,PWR,Open,NaN,Western,BOUGHT,NaN,Three Full Years,NaN,NaN,NaN,2015-08-21,0,0,1,3,0
9964,M9999,2012-07-06,VALID,KLA,Open,Female,Western,BOUGHT,69,Three Full Years,6,5,22,2015-03-14,0,0,0,3,0
9965,M10000,2012-03-21,VALID,PRR,Open,Female,Northern,RENTED,63,Three Full Years,8,13,22,2015-04-03,0,0,0,3,0

In [241]:
payment_number = []
from collections import Counter
Dict = Counter(df_reld['Account Number'].values)
for i in df_dd['Account Number'].values:
    payment_number.append(Dict[i])
df_dd['payment_number'] = payment_number

C:\Users\Kowshik\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [253]:
Counter(df_dd['Default_number'].values)

Counter({0: 8785, 1: 811, 2: 234, 3: 136})

In [254]:
x = df_dd[['Default_number','Categ']].groupby(['Default_number'], as_index=False).sum()

In [258]:
x

   Default_number  Categ
0               0    314
1               1    130
2               2     46
3               3     16

In [218]:
sns.stripplot(x="Region ", y="Categ", data=df_dd)
plt.show()

In [233]:
x = df_dd[['Professional Info','Categ']].groupby(['Professional Info'], as_index=False).sum()

In [172]:
df_dd[[' Sale of Equipment Status','Region ','Scheme','Categ','Query_freq']]

      Sale of Equipment Status   Region  Scheme  Categ  Query_freq
0                       RENTED  Northern    KLA      0           0
1                       RENTED   Western    PPL      0           6
2                       RENTED   Eastern    KLA      0           0
3                       RENTED  Northern    MXX      0           0
4                       RENTED   Western    PRP      0           1
5                       BOUGHT   Eastern    KLA      0           0
6                       BOUGHT   Eastern    KLA      0           0
7                       RENTED   Eastern    PWM      0           0
8                       RENTED   Eastern    PWR      0           0
9                       RENTED   Western    PWM      0           0
10                      RENTED  Northern    KLA      0           0
11                      RENTED  Northern    POP      0           0
12                      RENTED   Eastern    PRP      0           4
13                      RENTED  Northern    POP      0           0
14                      BOUGHT   Eastern    PWR      0           3
15                      RENTED  Northern    POP      0           0
16                      RENTED   Eastern    KLA      0           4
17                      RENTED   Eastern    PWR      0           2
18                      RENTED  Northern    PWR      0           0
19                      RENTED   Western    PWR      0           0
20                      BOUGHT  Southern    PWR      0           0
21                      BOUGHT   Western    PRR      0           1
22                      RENTED   Eastern    PWR      0           0
23                      BOUGHT   Eastern    PWM      0           0
24                      RENTED   Western    MXX      0           1
25                      BOUGHT  Northern    CNN      0           0
26                      RENTED   Western    PWP      0           1
27                     Unknown  Northern    CHC      0           0
28                     Unknown  Northern    CHC      0           0
29                 Second Hand  Northern    CHC      0           0
...                        ...       ...    ...    ...         ...
9936                    RENTED   Eastern    PWR      0           1
9937                    RENTED   Eastern    MXX      0           1
9938                    RENTED   Eastern    PWM      0           0
9939                    BOUGHT   Eastern    PWR      0           0
9940                    BOUGHT   Eastern    PWR      0           0
9941                    RENTED   Western    PPL      0           1
9942                    RENTED   Western    PWP      1           0
9943                    RENTED   Western    KLA      0           0
9944                    RENTED   Western    PWR      0           0
9945                    BOUGHT  Northern    PWR      0           0
9946                    RENTED   Eastern    PRR      0           0
9947                    RENTED  Northern    PWM      0           1
9948                    BOUGHT   Western    KLA      0           1
9949                    RENTED   Western    PWR      0           0
9950                    BOUGHT  Northern    PWR      0           2
9951                    RENTED   Eastern    POP      0           0
9952                    BOUGHT   Eastern    CNN      0           0
9953                    RENTED  Northern    PWR      0           0
9954                    BOUGHT  Northern    PWR      0           0
9955                    BOUGHT   Eastern    PWR      0           0
9956                    RENTED  Northern    PRM      0           0
9957                    RENTED  Northern    PWR      0           0
9958                    RENTED  Northern    PWR      0           0
9959                    RENTED   Eastern    PWM      0           0
9960                    RENTED   Eastern    PWP      0           0
9961                    BOUGHT  Northern    PWR      0           1
9962                    RENTED   Eastern    PWP      0           0
9963                    BOUGHT   Western    PWR      0           1
9964                    BOUGHT   Western    KLA      0           0
9965                    RENTED  Northern    PRR      0           0

[9966 rows x 5 columns]

In [219]:
Counter(df_dd['Scheme'].values)

Counter({u'CHC': 774,
         u'CNN': 916,
         u'ESS': 111,
         u'KLA': 968,
         u'MXX': 299,
         u'PMM': 15,
         u'POP': 464,
         u'PPL': 1815,
         u'PRM': 1397,
         u'PRP': 444,
         u'PRR': 442,
         u'PWM': 296,
         u'PWP': 201,
         u'PWR': 1824})

In [211]:
Eastern = []
Northern = []
Southern = []
Western = []
for i in range(len(df_dd)):
    if df_dd['Region '].values[i] == 'Eastern':
        Eastern.append(df_dd['Categ'].values[i])
    elif df_dd['Region '].values[i] == 'Northern':
        Northern.append(df_dd['Categ'].values[i])
    elif df_dd['Region '].values[i] == 'Southern':
        Southern.append(df_dd['Categ'].values[i])
    elif df_dd['Region '].values[i] == 'Western':
        Western.append(df_dd['Categ'].values[i])

In [176]:
BOUGHT = []
RENTED = []
SecondHand = []
Unknown = []
for i in range(len(df_dd)):
    if df_dd[' Sale of Equipment Status'].values[i] == 'BOUGHT':
        BOUGHT.append(df_dd['Categ'].values[i])
    elif df_dd[' Sale of Equipment Status'].values[i] == 'RENTED':
        RENTED.append(df_dd['Categ'].values[i])
    elif df_dd[' Sale of Equipment Status'].values[i] == 'Second Hand':
        SecondHand.append(df_dd['Categ'].values[i])
    elif df_dd[' Sale of Equipment Status'].values[i] == 'Unknown':
        Unknown.append(df_dd['Categ'].values[i])
Dict = {}
for i in np.unique(df_dd[' Sale of Equipment Status'].values):
    Dict[i]=sum(i)

In [212]:
sum(Eastern)

221

In [213]:
sum(Northern)

230

In [214]:
sum(Southern)

13

In [215]:
sum(Western)

42

In [231]:
import matplotlib.pyplot as plt
D = dict(zip(x.Scheme, x.Categ))
plt.bar(range(len(D)), D.values(), align='center')
plt.xticks(range(len(D)), D.keys())

plt.show()

In [202]:
453.0/506

0.8952569169960475

In [191]:
[ i ,  i in list(np.unique(df_dd[' Sale of Equipment Status'].values))]

[10, False]

In [194]:
np.unique(df_dd[' Sale of Equipment Status'].values)

array([u'BOUGHT', u'RENTED', u'Second Hand', u'Unknown'], dtype=object)

In [94]:
labels = []
values = []
for col in df_dd.columns:
    labels.append(col)
    values.append(df_dd[col].isnull().sum())
    print(col, values[-1])

(u'Account Number', 0)
(u'Commence Date', 3)
(u'Address', 386)
(u'Scheme', 0)
(u'Staus', 0)
(u'Gender', 1368)
(u'Region ', 0)
(u' Sale of Equipment Status', 0)
(u'Age', 2013)
(u'Equipment Warranty', 408)
(u'Salary Slab', 1351)
(u'Professional Info', 1351)
(u'Age of Home', 1351)
(u'Equipment Warranty Expiry Date', 408)
(u'Churn Date', 0)
('Categ', 0)

In [95]:
import matplotlib.pyplot as plt
ind = np.arange(len(labels))
width = 0.9
fig, ax = plt.subplots(figsize=(12,50))
rects = ax.barh(ind, np.array(values), color='y')
ax.set_yticks(ind+((width)/2.))
ax.set_yticklabels(labels, rotation='horizontal')
ax.set_xlabel("Count of missing values")
ax.set_title("Number of missing values in each column")
#autolabel(rects)
#plt.show()

In [96]:
query = []
from collections import Counter
Dict = Counter(df_cd['Account Number'].values)
for i in df_dd['Account Number'].values:
    query.append(Dict[i])
df_dd['Query_freq'] = query

C:\Users\Kowshik\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [121]:
df_cd

,Account Number,Query Date,Full Statement of the Enquiry
0,M2,2015-03-12,FDAEDBG!-Initial LevelPayment Settlement-Accou...
1,M2,2015-03-15,FDA!CEGD-Initial LevelTech-Operational Capabil...
2,M2,2015-03-25,FDCE#GHA-Initial LevelTech-Operational Capabil...
3,M2,2015-03-28,FDC#FAAD-Initial LevelPayment Settlement-Opera...
4,M2,2015-03-29,FDC!HGF#-Initial LevelPayment Settlement-Accou...
5,M2,2015-03-29,FDC!HH#!-Initial LevelTech-Service Order-Sched...
6,M5,2015-01-14,FCAH!#AH-Initial LevelTech-No support / Third ...
7,M13,2015-01-08,FB!HDHGE-Initial LevelPayment Settlement-Accou...
8,M13,2015-01-11,FCAB!#FF-Initial LevelTech-Operational Capabil...
9,M13,2015-01-14,FCAH!CDG-Initial LevelTech-Operational Capabil...
10,M13,2015-02-18,FCGG#GAF-Initial LevelTech-Utilities-Email-Cli...
11,M15,2015-01-03,FB#H#BFE-Initial LevelPayment Settlement-Payme...
12,M15,2015-02-04,FCED#GBB-Initial LevelTech-Payment Settlement-...
13,M15,2015-03-06,FC!EEFDF-Initial LevelPayment Settlement-Payme...
14,M17,2015-01-07,FB!FECEC-Initial LevelTech-Account-General Inf...
15,M17,2015-01-07,FB!FFB!C-Initial LevelPayment Settlement-Accou...
16,M17,2015-01-09,FB!#!BEE-Initial LevelTech-Utilities-Email-Web...
17,M17,2015-01-21,FCB#HGG#-Initial LevelPayment Settlement-Accou...
18,M18,2015-02-06,FCEGEB#D-Initial LevelTech-Operational Capabil...
19,M18,2015-02-13,FCF#C#F#-Initial LevelPayment Settlement-Opera...
20,M22,2015-01-07,FB!FCBD#-Initial LevelPayment Settlement-Accou...
21,M25,2015-03-25,FDCEGE!H-Initial LevelTech-Account-General Inf...
22,M27,2015-03-11,FDACEBB#-Initial LevelTech-Operational Capabil...
23,M54,2015-01-13,FCAF#C#!-Initial LevelPayment Settlement-Accou...
24,M54,2015-03-15,FDA#FF#!-Initial LevelPayment Settlement-Opera...
25,M55,2015-01-23,FCCC##HB-Initial LevelPayment Settlement-Payme...
26,M64,2015-03-11,FDADBC!F-Initial LevelPayment Settlement-ABC#$...
27,M68,2015-01-03,FB#HHECB-Initial LevelPayment Settlement-Payme...
28,M68,2015-02-06,FCEG!HHA-Initial LevelPayment Settlement-Payme...
29,M68,2015-03-04,FC!BAACB-Initial LevelPayment Settlement-Payme...
...,...,...,...
7931,M9922,2015-02-09,FCFB!DF!-Initial LevelPayment Settlement-Accou...
7932,M9928,2015-01-12,FCAD!#BF-Initial LevelPayment Settlement-Accou...
7933,M9929,2015-01-05,FB!AFD##-Initial LevelPayment Settlement-Utili...
7934,M9929,2015-01-07,FB!FGH#E-Initial LevelPayment Settlement-Accou...
7935,M9929,2015-01-09,FB!!CBEF-Initial LevelPayment Settlement-Utili...
7936,M9929,2015-03-01,FC#FDC!!-Initial LevelPayment Settlement-Accou...
7937,M9937,2015-01-20,FCBHDEB!-Initial LevelPayment Settlement-No su...
7938,M9937,2015-02-12,FCFG!ADC-Initial LevelPayment Settlement-Accou...
7939,M9937,2015-03-15,FDA!AFAE-Initial LevelTech-No support / Third ...
7940,M9938,2015-01-08,FB!GFF!G-Initial LevelPayment Settlement-Utili...
7941,M9950,2015-01-30,FCDEBGED-Initial LevelTech-Operational Capabil...
7942,M9951,2015-01-28,FCDAGB#F-Initial LevelPayment Settlement-Opera...
7943,M9951,2015-02-11,FCFEFBBD-Initial LevelTech-Operational Capabil...
7944,M9951,2015-02-15,FCGAFDCC-Initial LevelPayment Settlement-Opera...
7945,M9952,2015-03-14,FDAGED#!-Initial LevelPayment Settlement-Accou...
7946,M9952,2015-03-15,FDA#CBBF-Initial LevelPayment Settlement-Accou...
7947,M9952,2015-03-16,FDA!H!A!-Initial LevelTech-Outbound-Fax Reques...
7948,M9954,2015-02-01,FCDHGDDG-Initial LevelPayment Settlement-Payme...
7949,M9964,2015-03-21,FDB#B#FF-Initial LevelPayment Settlement-Accou...
7950,M9965,2015-02-23,FCHEC!AB-Initial LevelPayment Settlement-Payme...
7951,M9965,2015-03-09,FC!!AHFG-Initial LevelPayment Settlement-Payme...
7952,M9971,2015-02-03,FCEBG#GB-Initial LevelTech-Operational Capabil...
7953,M9972,2015-01-12,FCAECF!B-Initial LevelPayment Settlement-Payme...
7954,M9976,2015-03-11,FDACGGHC-Initial LevelTech-Account-General Inf...
7955,M9982,2015-01-12,FCADHECC-Initial LevelPayment Settlement-Accou...
7956,M9983,2015-03-05,FC!DDA!H-Initial LevelPayment Settlement-Utili...
7957,M9985,2015-01-11,FCABHFHD-Initial LevelTech-Account-Event Notif...
7958,M9985,2015-01-11,FCACGHEC-Initial LevelPayment Settlement-Utili...
7959,M9996,2015-03-12,FDAEFEHH-Initial LevelTech-Payment Settlement-...
7960,M9998,2015-02-06,FCEGBGBA-Initial LevelPayment Settlement-Utili...

In [104]:
import seaborn as sns

In [106]:
sns.boxplot(x="Categ", y="Query_freq", data=df_dd)
plt.show()

In [111]:
df_dd.columns

Index([                u'Account Number',                  u'Commence Date',
                              u'Address',                         u'Scheme',
                                u'Staus',                         u'Gender',
                              u'Region ',      u' Sale of Equipment Status',
                                  u'Age',             u'Equipment Warranty',
                          u'Salary Slab',              u'Professional Info',
                          u'Age of Home', u'Equipment Warranty Expiry Date',
                           u'Churn Date',                          u'Categ',
                           u'Query_freq'],
      dtype='object')

In [120]:
from pandas.tools.plotting import radviz
radviz(df_dd[['Age','Query_freq','Categ','Salary Slab']], 'Categ')
plt.show()

In [127]:
from pandas.tools.plotting import parallel_coordinates
parallel_coordinates(df_dd[['Query_freq','Categ']], 'Categ')
plt.savefig('myfig')

In [129]:
sns.pairplot(df_dd[['Query_freq','Categ']], 'Categ',size=3)
plt.show()

In [149]:
df_dd[['Query_freq','Categ']]
zer = []
one = []
for i in range(len(df_dd)):
    if df_dd['Categ'].values[i] == 0:
        zer.append(df_dd['Query_freq'].values[i])
    else:
        one.append(df_dd['Query_freq'].values[i])

In [148]:
import numpy as np
import matplotlib.pyplot as plt
#OUR DATA
X = np.arange(len(one))
Y = one
####################
#Visuvalization
canvas = plt.figure()
rect = canvas.patch
rect.set_facecolor('white')
sp1 = canvas.add_subplot(1,1,1, axisbg='w')

sp1.plot(X, Y, 'Black', linewidth=1)

sp1.patch.set_facecolor('white') #------> background colour

sp1.spines['bottom'].set_color('black')        #Colour of spines 
sp1.spines['top'].set_visible('False')
sp1.spines['left'].set_color('black')
sp1.spines['right'].set_visible('False')

sp1.set_title('Impressions vs time Using Extra Classifier', color='red')
sp1.set_xlabel('Time,BLUE -Actual', color='red')      #Colour of title and lables 
sp1.set_ylabel('Impression', color='red')
plt.plot(X,Y)
plt.tight_layout()
plt.show()

In [153]:
Counter(zer)

Counter({0: 6142,
         1: 1621,
         2: 808,
         3: 407,
         4: 190,
         5: 105,
         6: 66,
         7: 35,
         8: 25,
         9: 25,
         10: 11,
         11: 9,
         12: 7,
         13: 2,
         14: 2,
         15: 2,
         16: 1,
         21: 1,
         47: 1})

In [155]:
dict(Counter(one))

{0: 254,
 1: 97,
 2: 70,
 3: 22,
 4: 24,
 5: 17,
 6: 4,
 7: 2,
 8: 6,
 9: 2,
 10: 4,
 11: 2,
 12: 2}

In [163]:
import matplotlib.pyplot as plt

D =dict(Counter(zer))

plt.bar(range(len(D)), D.values(), align='center')
plt.xticks(range(len(D)), D.keys())
plt.xlabel('Queries unchurned')      #Colour of title and lables 
plt.ylabel('people ')
plt.show()